* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #0f1729;
}

.sections {
  overflow: auto;
}

.sections section {
  width: 100%;
  background-color: #0f1729;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  transition: all 1s ease;
  overflow: hidden;
}

.navbar .wrapper {
  padding: 5px 20px;
  margin-top: 0.2em;
}

.navbar .wrapper .right .hamburger {
  width: 40px;
  height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}

.navbar .wrapper .right .hamburger span {
  width: 40px;
  height: 5px;
  background-color: #5982eb;
  transform-origin: left;
  transition: all 0.7s ease;
}

.active .wrapper .right .hamburger span:first-child {
  transform: rotate(45deg);
}

.active .wrapper .right .hamburger span:nth-child(2) {
  opacity: 0;
}

.active .wrapper .right .hamburger span:last-child {
  transform: rotate(-45deg);
}

@media screen and (max-width: 965px) {
  .navbar .wrapper .left .itemContainer {
    display: none;
  }
}

@media screen and (max-width: 440px) {
  .navbar .wrapper .left .logo {
    font-size: 25px;
  }
}

/*----------------------------------------------- Menu ------------------------------*/

.menu {
  width: 450px;
  height: 100vh;
  background-color: #2b4865;
  position: fixed;
  top: 0;
  right: -450px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.7s ease;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 30px;
  font-weight: 300;
  color: white;
  width: 80%;
}

.menu ul li {
  margin-bottom: 30px;
}

.menu ul li a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.menu ul li:hover {
  font-weight: 500;
}

.activeMenu {
  right: 0;
}

/*----------------------------------------------- Home ------------------------------*/

.home {
  background-color: #efefef;
  overflow: hidden;
  width: 100%;
  overflow: hidden;
}

#canvas {
  width: 100%;
}

.home h1 {
  font-size: 75px;
}

.home .hello {
  display: flex;
  overflow: hidden;
  cursor: context-menu;
  position: absolute;
  top: 24%;
  left: 3%;
}

.home .nameBox {
  display: flex;
  overflow: hidden;
  cursor: context-menu;
  position: absolute;
  top: 33%;
  left: 3%;
}

.home .nameBox .name {
  display: flex;
  color: #0f9cdd;
  font-weight: 700;
  overflow: hidden;
}

.home .nameBox .lastName {
  display: flex;
  color: #2155cd;
  font-weight: 700;
  margin-left: 2em;
  overflow: hidden;
}

.home .hello .alpha {
  font-size: 55px;
}

.home .hello .Iam {
  display: flex;
  overflow: hidden;
  margin-left: 15px;
}

.home .animated {
  animation: letterHoverAnimation 0.7s;
}

.home span:first-child {
  font-size: 50px;
  font-weight: 500;
}

.home .getResumeButton {
  margin-top: 50px;
  position: absolute;
  top: 62%;
  left: 3%;
}

.home .getResumeButton a button {
  border-width: 0.2em;
  border-radius: 40px;
  font-size: 1.2em;
  padding: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: #efefef;
}

.home .getResumeButton a button:hover {
  background-color: #15133c;
  color: white;
}

.home .down {
  margin-left: 300px;
  color: #222831;
  position: absolute;
  bottom: 10px;
  right: 15%;
  animation: arrowBlink 2s infinite;
}

.home .down img {
  width: 4.7em;
  height: 4.7em;
}

.home .roleContainer {
  position: absolute;
  left: 3%;
  top: 47%;
  margin-top: 40px;
  overflow: hidden;
  height: 50px;
}

.home .roleContainer .roles {
  height: 45px;
  width: 100%;
  font-size: 30px;
  overflow-x: visible;
}

.home .roleContainer .roles > div > div {
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
  overflow-x: visible;
}

.home .roleContainer .roles div:first-child {
  animation: show 5s linear infinite;
  animation-delay: 0;
  overflow-x: visible;
}

.home #threeCube {
  position: absolute;
  top: 15%;
  right: 0;
  width: 600px;
  height: 500px;
  overflow: hidden;
}

.home #threeCube:hover {
  cursor: grab;
}

.home #threeCube:active {
  cursor: grabbing;
}

@media only screen and (max-width: 1024px) {
  .home .nameBox {
    flex-direction: column;
    font-size: 15px;
  }

  .home .alpha {
    font-size: 80px;
  }

  .home .nameBox .lastName {
    margin-left: -0.3px;
  }

  .home .roleContainer {
    top: 60%;
  }

  .home .getResumeButton {
    top: 70%;
  }

  .home .roleContainer .roles {
    font-size: 27px;
  }

  .home #threeCube {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .home .alpha {
    font-size: 55px;
  }

  .home .getResumeButton {
    top: 65%;
  }

  .home .roleContainer {
    top: 60%;
  }

  .home .roleContainer .roles {
    font-size: 25px;
  }
}

@media only screen and (max-width: 400px) {
  .home .roleContainer {
    top: 50%;
  }

  .home .roleContainer .roles {
    font-size: 20px;
  }
}

/*----------------------------------------------- About Me ------------------------------*/
#aboutMe {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: whitesmoke;
  width: 80em;
}

.about .left {
  flex: 50%;
  text-align: left;
  margin-top: 60px;
}

.about .left::before {
  content: "<body>";
  color: gray;
  top: 0px;
  margin-left: 10px;
  font-size: 1.2rem;
  font-style: italic;
  letter-spacing: 3px;
}

.about .left::after {
  content: "</body>";
  color: gray;
  margin-top: -1000px;
  margin-left: 10px;
  font-size: 1.2rem;
  font-style: italic;
  letter-spacing: 3px;
}

.about .left .caption {
  font-size: 3em;
  font-weight: 700;
  margin-left: 1em;
  margin-top: 70px;
  display: flex;
}

.about .left .profile {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 70px;
  text-align: justify;
  font-size: 18px;
}

.about .left .caption::before {
  content: "<h1>";
  color: gray;
  top: -80px;
  left: -10px;
  font-size: 1.2rem;
  font-style: italic;
  letter-spacing: 3px;
}

.about .left .caption::after {
  content: "\a\a\a\a</h1>";
  color: gray;
  bottom: -10px;
  font-size: 1.2rem;
  font-style: italic;
  letter-spacing: 3px;
  white-space: pre;
}

.about .left .profile::before {
  content: "<p>";
  color: gray;
  top: -80px;
  left: -10px;
  font-size: 1.2rem;
  font-style: italic;
  letter-spacing: 3px;
}

.about .left .profile::after {
  content: "\a</p>";
  color: gray;
  bottom: -10px;
  font-size: 1.2rem;
  font-style: italic;
  letter-spacing: 3px;
  white-space: pre;
}

.about .left .caption .me {
  display: flex;
  overflow: hidden;
}

.about .left .caption .myself {
  display: flex;
  overflow: hidden;
  margin-left: 20px;
}

.about .left .caption .and {
  overflow: hidden;
  margin-left: 20px;
}

.about .left .caption .ben {
  overflow: hidden;
  margin-left: 20px;
}

.about .alpha {
  cursor: context-menu;
  transition: color 0.4s ease-in-out;
}

.about .right {
  flex: 50%;
  width: 100%;
  height: 100%;
}

.about #aboutThree {
  width: 100%;
  height: 150%;
}

.about #aboutThree:hover {
  cursor: grab;
}

.about #aboutThree:active {
  cursor: grabbing;
}

.about .animated {
  color: #f66b0e;
  animation: letterHoverAnimation 0.7s ease-in-out;
}

@media only screen and (max-width: 1500px) {
  .about .left .profile {
    margin-right: 40px;
  }
}

@media only screen and (max-width: 1341px) {
  .about .alpha {
    font-size: 70px;
  }
}

@media only screen and (max-width: 1250px) {
  .about .left {
    margin-left: 3em;
  }
  .about .alpha {
    font-size: 65px;
  }
}

@media only screen and (max-width: 1200px) {
  .about .alpha {
    margin-top: 10px;
    font-size: 60px;
  }
}

@media only screen and (max-width: 1150px) {
  .about .left {
    margin-left: 4em;
  }
  .about .alpha {
    margin-top: 20px;
    font-size: 55px;
  }
}

@media only screen and (max-width: 1100px) {
  .about .left {
    margin-left: 6em;
  }
  .about .alpha {
    margin-top: 25px;
    font-size: 50px;
  }
}

@media only screen and (max-width: 1050px) {
  .about .alpha {
    margin-top: 30px;
    font-size: 45px;
  }
}

@media only screen and (max-width: 970px) {
  .about .alpha {
    margin-top: 35px;
    font-size: 40px;
  }
}

@media only screen and (max-width: 900px) {
  .about .alpha {
    margin-top: 45px;
    font-size: 35px;
  }

  .about .left {
    flex: 6;
  }

  .about .right {
    flex: 4;
  }
}

@media only screen and (max-width: 700px) {
  #aboutMe {
    align-items: center;
    text-align: center;
  }

  .about {
    flex-direction: column;
  }
  
  .about .left {
    margin-left: 40em;
    margin-right: 40em;
  }

  .about .left .caption {
    margin-top: 0;
    margin-left: 27px;
  }

  .about .left .profile {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 19px;
    margin-bottom: -1px;
    font-size: 12px;
    text-align: justify;
  }

  .about .left::before {
    margin-left: 5px;
    letter-spacing: 1px;
  }

  .about .left::after {
    margin-left: 5px;
    letter-spacing: 1px;
  }

  .about .left .caption::before {
    margin-left: 5px;
    letter-spacing: 1px;
  }

  .about .left .caption::after {
    letter-spacing: 1px;
  }

  .about .left .profile::before {
    letter-spacing: 1px;
  }

  .about .left .profile::after {
    letter-spacing: 1px;
  }

  .about .right{
    margin-left: 40em;
  }
}

@media only screen and (max-width: 400px) {
  .about {
    flex-direction: column;
  }

  .about .left {
    flex: 7;
  }

  .about .right {
    flex: 3;
  }

  .about .left .caption {
    margin-top: 0;
    margin-left: 0;
  }

  .about .left .profile {
    margin-top: 2px;
    margin-left: 24px;
    margin-right: 23px;
    margin-bottom: 0;
    font-size: 12px;
    text-align: justify;
  }

  .about .left::before {
    margin-left: 5px;
    letter-spacing: 1px;
  }

  .about .left::after {
    margin-left: 5px;
    letter-spacing: 1px;
  }

  .about .left .caption::before {
    margin-left: 5px;
    letter-spacing: 1px;
  }

  .about .left .caption::after {
    letter-spacing: 1px;
  }

  .about .left .profile::before {
    letter-spacing: 1px;
  }

  .about .left .profile::after {
    letter-spacing: 1px;
  }
}

/*----------------------------------------------- Skills ------------------------------*/

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.skills .caption {
  flex: 2;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-top: 62px;
}

.skills .caption .skillsCaption{
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.skills .caption .certitifications{
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.skills .caption .and{
  margin-left: 1em;
  margin-right: 1em;
  overflow: hidden;
}

.skills .caption h1 {
  font-size: 80px;
  cursor: context-menu;
  transition: color 0.4s ease-in-out;
  overflow: hidden;
}

.skills .caption .animated {
  color: #f66b0e;
  animation: letterHoverAnimation 0.7s ease-in-out;
}

.skills .content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 77%;
  width: 80em;
}

.skills .content .card {
  width: 24%;
  height: 90%;
  background-color: #e7f6f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 1em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  box-shadow: -1em 1em 1em black;
}

.skills .content .card .skill {
  transition: 0.3s all ease;
  display: flex;
  justify-content: space-around;
}

.skills .content .card .skill .right img {
  width: 2.7em;
  height: 2.7em;
}

.skills .content .card .skill .right .wide {
  width: 4.5em;
  height: 3.5em;
}

.skills .content .card .skill:hover {
  transform: scale(1.1);
}

.skills .content .card .skill span {
  font-size: 1.2em;
}

.skills .content .card .skill .level img {
  width: 1.5em;
  height: 1.5em;
}

.skills .content .certificates {
  width: 70%;
  height: 30em;
  background-color: #3b4252;
  border-radius: 20px;
  display: flex;
  box-shadow: -1em 1em 1em black;
}

.skills .content .certificates .panel {
  background-size: auto 110%;
  background-position: center;
  background-repeat: no-repeat;
  height: 95%;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  -webkit-transition: all 700ms ease-in;
}

.skills .content .certificates .panel h3 {
  font-size: 24px;
  color: black;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.skills .content .certificates .active {
  flex: 5;
}

.skills .content .certificates .active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media only screen and (max-width: 1000px) {
  .skills .content .card {
    width: 30%;
  }

  .skills .content .certificates {
    width: 65%;
  }
}

@media only screen and (max-width: 845px) {
  .skills .content {
    width: 95%;
  }
}

@media only screen and (max-width: 750px) {
  .skills .content .certificates {
    display: none;
  }

  .skills .caption .certitifications{
    display: none;
  }

  .skills .caption .and{
    display: none;
  }

  .skills .content .card {
    width: 80%;
    font-size: 15px;
  }
}

/*----------------------------------------------- Experiences ------------------------------*/
#experiences {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experiences {
  display: flex;
  color: whitesmoke;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  width: 80em;
}

.experiences h1 {
  margin: 0.5em;
  font-size: 40px;
  overflow: hidden;
}

.experiences .experienceContainer {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: black;
}

.experiences .experienceContainer .item {
  background-color: whitesmoke;
  height: 13em;
  width: 85%;
  margin: 0.5em 0.5em;
  border-radius: 20px;
  box-shadow: -1em 1.5em 1.5em rgba(2, 5, 53, 0.9);
  transition: all 0.7s ease;
  padding: 0 5px;
}

.experiences .experienceContainer .item:hover {
  transform: scale(1.07);
  box-shadow: -1.5em 1.5em 1.5em rgba(2, 5, 53, 0.9);
}

/*----------------------------------------------- Projects ------------------------------*/
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  background-color: #0f1729;
  width: 80em;
}

.projects h1 {
  margin: 0.5em;
  margin-left: 1.5em;
  font-size: 40px;
  margin-top: 2em;
  overflow: hidden;
}

.projects .projectContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.projects .projectContainer .item {
  height: 15em;
  width: 20em;
  border: 2px solid grey;
  background-color: whitesmoke;
  border-radius: 20px;
  margin: 2em;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

.projects .projectContainer .item img {
  width: 70%;
  height: 90%;
  z-index: 1;
}

.projects .projectContainer .item h3 {
  color: whitesmoke;
  position: absolute;
  font-size: 20px;
}

.projects .projectContainer .item a {
  color: whitesmoke;
  font-size: 20px;
  position: absolute;
  margin-top: 5em;
}

.projects .projectContainer .item:hover {
  background-color: #113b49;
}

.projects .projectContainer .item:hover img {
  opacity: 0.2;
  z-index: 0;
}

/*------------- Scroll ----------------*/

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 20px;
}

/*------------- Animations ------------ */

@keyframes letterHoverAnimation {
  0% {
    transform: scale(1.2, 0.5);
  }

  16% {
    transform: scale(1.2, 0.5);
  }

  25% {
    transform: scale(1.2, 0.5);
  }

  32% {
    transform: scale(0.8, 1.1);
  }

  48% {
    transform: scale(0.95, 1);
  }

  64% {
    transform: scale(0.8, 1.2);
  }

  80% {
    transform: scale(1.15, 1);
  }

  87% {
    transform: scale(1.15, 1);
  }

  90% {
    /* This will add the shaking effect one time almost at the end*/
    transform: scale(0.8, 1);
  }

  95% {
    transform: scale(1.05, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes arrowBlink {
  100% {
    opacity: 0;
  }
}

@keyframes show {
  0% {
    margin-top: -180px;
  }

  5% {
    margin-top: -90px;
  }

  33% {
    margin-top: -90px;
  }

  38% {
    margin-top: 0px;
  }

  71% {
    margin-top: 0px;
  }

  80% {
    margin-top: 0px;
  }

  90% {
    margin-top: 90px;
  }

  100% {
    margin-top: 90px;
  }
}
